.autocomplete-wrapper{
  box-shadow: 2px 2px 5px #eee;
}

.autocomplete-textfield{
  font-size: 16px;
  padding: 10px;
  border: 1px solid #aaa;
  border-bottom: none;
  box-sizing: border-box;
  width: 100%;
  display: block;
}

.autocomplete-textfield:focus{
  outline: none;
}

.autocomplete-textfield + .autocomplete-dropdown{
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-top: none;
}

.autocomplete-textfield + .autocomplete-dropdown li{
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.autocomplete-textfield + .autocomplete-dropdown li:hover{
  background-color: red;
}

.autocomplete-textfield + .autocomplete-dropdown li.highlighted{
  background-color: red;
}
